*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}




body{
    width: 100%;   

}



header{
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;       
}

h2{
    width: 100%;
    color: blue ;

}